* {
    font-size: 14px;
    font-family: 'Georgia';
    font-weight: 200;
}

h1 { 
    font-size: 1.5rem;
}

div#content {
    display: flex;
    flex-direction: column;
}

.todolist-container {
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #800080;
    border-style: double;
}

.list-label {
    width: 100%;
}

.todo-container {
    display: 'flex';
    flex-direction: 'column';
    border: 1px double rgb(209, 82, 255);
}

.todo-title {
    width: 100%;
    font-weight: 700;
    font-size: '1.2rem';
}

button.view {
    background-color: rgb(167, 255, 245);
}

button.done {
    color: white;
    background-color: rgb(0, 112, 36);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-dialog {
    position: relative;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Maximum width */
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto; /* 15px from the top */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}